/* 共通スタイル */
body {
  margin: 20px;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  background-color: #64a5d0;
  text-align: center;
}

.p1{
  font-size: 30px;
}

.yoyakubango{
  font-size: 150px;
  font-weight: 800;
  color:#3276a4;
  line-height: 0.5;
}

table{
  margin:0 auto;
}

.hyo{
  border:1;
  border-color: #64a5d0;
  width:0 auto;
  text-align: left;
}

.waku{
    margin: 0 auto;
    text-align: center;
    border: #FFF;
    background-color: #FFF;
    padding: 25px;
    border-radius: 20px;
}

.bango{
  color:#000;
}

input[type="submit"] {
  padding: 5px 10px;
  font-size: 20px;
  background-color: #64a5d0;
  color: #fff;
  border-radius: 10px;
}

h1{
  color: #FFF;
}

/* PC向け (Flexboxで横並び) */
@media (min-width: 601px) {
  nav ul {
    display: flex; /* 横並びにする指定 */
    margin: 0 auto;
  }
  nav li {
    flex: 1; /* 親要素の幅に合わせて均等（25%ずつ）に分配 */
  }
}

/* スマホ向け (縦並び) */
@media (max-width: 600px) {
  nav {
    border: 2px solid #3276a4;
    border-radius: 40px;
  }
  nav ul {
    display: flex; /* 縦並びにする指定 */
  }
  nav li {
    flex: 1; /* 親要素の幅に合わせて均等（25%ずつ）に分配 */
  }
  nav li a {
    padding: 10px 0; /* スマホ向けにパディングを調整 */
    font-size: 15px; /* スマホ向けにフォントサイズを調整 */
  }
}
